{%extends 'layout.html'%}

{%block content%}
<link href="/public/css/other.css" rel="stylesheet" type="text/css">

<div class="ownCont">
    <ul>
       
        
    </ul>
    <div style="background-color: #fff;padding: 1px 0 15px ;margin-bottom: 10px;  border-radius: 5px ;">
        <div id='test'></div>
    </div>
    
</div>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/utils.js"></script>
<script src="/public/js/snow.js"></script>
<script src="/public/js/own.js"></script>
<script>
    
</script>
{%endblock%}