{%extends 'layout.html'%}

{%block content%}
<link href="/public/css/other.css" rel="stylesheet" type="text/css">

<div class="ownCont">
    <ul>
        <li class="ownLists">
            <div class="own-title">About Me</div>
            <div class="own-articles">
                <div class="own-imgs-left">
                    <img src="/public/images/head.jpg" alt="">
                </div>
                <div class="own-conts-right">
                    <p>90后屌丝宅男一枚，性格是比较内向的那种吧。喜欢上网、下棋。学的是计算机，学得广而不专，多而不精，只能算是基础。2015年12月有幸找到一家实习单位，才发现工作在学校学习差的很大，本质意义不同,结果自然不同。
                    </p>
                    <p>目前在哈尔滨从事互联网工作，当然了加班是经常的 (*＾-＾*)
                    </p>
                    <p>座右铭：加油吧，少年。
                    </p>
                </div>
            </div>
            <div class='readAll'>
                阅读全文
            </div>
        </li>
        <li class="ownLists">
            <div class="own-title">About Me</div>
            <div class="own-articles">
                <div class="own-imgs-left">
                    <img src="/public/images/head.jpg" alt="">
                </div>
                <div class="own-conts-right">
                    <p>90后屌丝宅男一枚，性格是比较内向的那种吧。喜欢上网、下棋。学的是计算机，学得广而不专，多而不精，只能算是基础。2015年12月有幸找到一家实习单位，才发现工作在学校学习差的很大，本质意义不同,结果自然不同。
                    </p>
                    <p>目前在哈尔滨从事互联网工作，当然了加班是经常的 (*＾-＾*)
                    </p>
                    <p>座右铭：加油吧，少年。
                    </p>
                </div>
            </div>
            <div class='readAll'>
                阅读全文
            </div>
        </li>
    </ul>
</div>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/utils.js"></script>
<script src="/public/js/snow.js"></script>

{%endblock%}